
.content{
  width: 100%;
  height: 100vh;
}
.zone{
  width:50%;

}
.player0,.player1{
  font-size: 20px;
  
}
.deImg {
  position: absolute;
  
  left:50% ;
  top: 28rem;


   }
   .deImg img{
    
    right: 0px;
         
       
  }


.new-game{
 
  top: 50px;
  left:50% ;

}
.roll{
  bottom: 70px;
  left:50% ;

}

.hold{
  
  bottom: 30px;
  left:50% ;
 
}


.current{
  position: relative;
  
  bottom: -20px;
  
 
}